body{
    background: #eee;
}
.wrapper{
    background:red;
    max-width: 960px;
    margin:0 auto;
    padding: 20px;
    height: 240px;
}
.wrapper after{
    content: "";
    display:block;
    clear: both;
}

.service h2, .service p{
    text-align: center;
    margin: 10 px 0;
}
.service{
    float:left;
    background: #eee;
    width: 29%;
    margin: 1%;
    padding:1%;
    height:140px;
}